
@{
    ViewBag.Title = "Confirm";
}

@model Anna_Baseley_Lab21.Models.User

<br />
<h2>Login Confirmation</h2>

<p>@Model.First_Name @Model.Last_Name</p>

<a href="~/Database/Index">Go See your list of items</a>

