
@{
    ViewBag.Title = "Registration";
}

<script src="~/Scripts/JavaScript.js"></script>

<h2>Please fill out the form to register</h2>
<br /><br />
<form action="/Identity/Registration" method="post">
    <input type="text" name="First_Name" placeholder="First Name"/>
    <br /><br />
    <input type="text" name="Last_Name" placeholder="Last Name"/>
    <br /><br />
    <input type="email" name="Email" placeholder="example@example.com"/>
    <br /><br />
    <input type="text" name="Phone_Number" placeholder="Enter your 10-digit Phone #"/>
    <br /><br />
    <input type="password" name="Password" placeholder="Password"/>
    <br /><br />
    <input type="submit" value="Register"/>
</form>


