
@{
    ViewBag.Title = "Registration";
}

<p>
    @ViewBag.ErrorMessage
</p>

<h2>Registration</h2>
<form action="Registration" method="post">
    <input type="text" name="First_Name" placeholder="First Name" />
    <br /><br />
    <input type="text" name="Last_Name" placeholder="Last Name" />
    <br /><br />
    <input type="email" name="Email" placeholder="example@example.com" />
    <br /><br />
    <input type="text" name="Phone_Number" placeholder="Enter your 10-digit Phone #" />
    <br /><br />
    <input type="password" name="PasswordHash" placeholder="Password" />
    <br /><br />
    <input type="submit" value="Register" />
</form>

